
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    height: 100vh;
    background-color: #2B3036;
    color: aliceblue;
  }
  

  .logo-navbar {
    width: 25px;
    height: 100%;
  }

  .titulo-navbar {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
  }

  /* sumir o nome do site em certo tamanho de dispositivo por causa do espaço */
  @media (max-width: 550px)  {
      .titulo-navbar {
        display: none;
      }
  }

  .romantic-text {
    font-style: italic;
    padding-left: 30px;
    font-size: 1.5rem; /* Tamanho maior para mais destaque */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Sombra suave para dar efeito */
  }

  /* efeito do navbar escondendo*/
  #navbar {
    transition: top 0.3s;
  }

  .container-text {
    margin-left: 40px;
    max-width: 276px;
  }

  .container-card {
    margin-top: 40px;
    max-width: 20rem;
    width: 100%;
  }

  /* para removar a margin e outras aplicações em dispositivos menores*/
  @media (max-width: 768px) {

    .container-text {
      margin: 0;
    }

    .container-card {
      margin: 0;
    }
  }

  .offcanvas-title {
    margin-left: 70px;
  }