
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

 /* Reset & Variáveis Globais */
:root {
  --primary-color: #A6DE8E;
  --dark-bg: #14171A;
  --card-bg: #434C54;
  --text-light: #DEDEDE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--dark-bg);
  color: var(--text-light);
  min-height: 100vh;
}

/* ----- Botões ----- */
.btn-neon {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-neon:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--primary-color);
}

/* ----- Cards ----- */
.card-romantico {
  background: var(--card-bg);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: all 0.3s;
}

.card-romantico:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(166, 222, 142, 0.3);
}
  

  /* ----- Navbar ----- */
.navbar-custom {
  background: #0E1012;
  transition: top 0.3s;
}

.logo-navbar {
  width: 25px;
  margin-right: 81px;
}

/* ----- Galeria de Fotos ----- */
.gallery-img {
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: all 0.3s;
}

.gallery-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px var(--primary-color);
}

  .titulo-navbar {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
  }

  .romantic-text {
    font-style: italic;
    padding-left: 30px;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* Alerta na tela */
  #liveAlertPlaceholder {
    position: fixed;;
    left: 0;
    width: 100%;
    z-index: 1050;
    padding: 0 15px;
    transition: top 0.3s ease;
  }

  #liveAlertBtn:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }

  #backToTop {
    background-color: #A6DE8E;
    color: black;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
  }
  
  #backToTop:hover {
    background-color: #8BCF6E;
    cursor: pointer;
  }

  #backToTop img {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    margin-top: -5px ;
  }


  /* efeito do navbar escondendo*/
  #navbar {
    transition: top 0.3s;
  }

  #chocolate-foto {
    max-width: 100%;
    width: auto;
    border: 2px solid #A6DE8E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(166, 222, 142, 0.6), 0 0 20px rgba(166, 222, 142, 0.4);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  #chocolate-foto:hover {
    box-shadow: 0 0 15px rgba(166, 222, 142, 0.8), 0 0 30px rgba(166, 222, 142, 0.6);
    transform: scale(1.05);
  }

  .container-text {
    margin-left: 40px;
    max-width: 276px;
  }

  .container-card {
    margin-top: 40px;
    max-width: 20rem;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  /* animação do card crescendo quando passa o mouse em cima e acrescentando um pouco de sombra ao redor */
  .container-card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }

  .animation-mouse {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .animation-mouse:hover,
  .animation-mouse.active {
    transform: scale(1.07);
  }

  .fade-in {
    opacity: 0;
    transform: translateY(20px); /* Move o texto para baixo inicialmente */
    transition: opacity 1.6s ease-out, transform 1.6s ease-out; /* Animação suave */
  }

  .fade-in.show {
    opacity: 1;
    transform: translateY(0); /* retorna o texto à posição original */
  }

  /* Desativar o efeito de hover no card quando o modal estiver aberto */
  body.modal-open .container-card:hover {
    transform: none;
    box-shadow: none;
    transition: none;
  }

  .section-divider {
    border: 0;
    height: 2px;
    background-color: #DEDEDE; 
    margin: 55px 0px;
  }

  /* Ajustar o tamanho do carrossel */
  .custom-carousel {
    width: 90%;
    max-width: 400px;
    margin: 27px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #A6DE8E;
    border-radius: 10px;
  }

  .custom-carousel:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px #A6DE8E, 0 0 10px #A6DE8E, 0 0 10px #A6DE8E;
  }

  .carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .neon-border {
    border: 2px solid #A6DE8E;
    box-shadow: 0 0 8px #A6DE8E, 0 0 8px #A6DE8E, 0 0 8px #A6DE8E;
    border-radius: 10px;
  }
  
  .neon-border:hover {
    box-shadow: 0 0 10px #A6DE8E, 0 0 10px #A6DE8E, 0 0 10px #A6DE8E;
  }

  .responsive-hr {
    display: none;
  }

  #quiz-container {
    margin: 0 auto;
    width: 50%;
    background-color: #434C54;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3ease;
  }

  .rodape {
    background-color: #212529;
  }

  #submitQuiz {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
  }

    /* Estilo para os cards do quiz */
  .quiz-card {
    background-color: #434C54;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #DEDEDE;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .quiz-card h5 {
    color: #A6DE8E;
  }

  .quiz-card:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  }

  .barra-divisao {
    display: none;
  }

  input:focus, textarea:focus {
    outline: none;
    border-color: #A6DE8E;
    box-shadow: 0 0 10px #A6DE8E;
    transition: 0.3s ease;
  }

  #messageFeedback {
    font-size: 14px;
    margin-top: 5px;
  }

  a:hover i {
    color: #A6DE8E;
    transition: color 0.3s ease;
  }

  .img-academia {
    max-width: 100%;
    height: auto;
    display: block;
    border: 2px solid #A6DE8E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(166, 222, 142, 0.6), 0 0 20px rgba(166, 222, 142, 0.4);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .img-academia:hover {
    box-shadow: 0 0 15px rgba(166, 222, 142, 0.8), 0 0 30px rgba(166, 222, 142, 0.6);
    transform: scale(1.05);
  }

  .motivacao-section {

    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px #212529 ;
  }
  
  .motivacao-section h3 {
    color: #A6DE8E;
  }
  
  .motivacao-section .list-group-item {
    background-color: #495057;
    color: white;
    border: none;
  }
  
  .motivacao-section .list-group-item:hover {
    background-color: #A6DE8E;
    color: black;
    transition: background-color 0.3s ease;
  }

  .receitas-container {
    background-color: #1c1f24;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .receita-item {
    background-color: #2a2d33;
    color: #DEDEDE;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .receita-item h5 {
    color: #A6DE8E;
    margin-bottom: 8px;
  }
  
  .receita-item p {
    margin: 0;
    font-size: 14px;
    color: #B0B0B0;
  }
  
  .receita-item:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  }

  curiosidades-container {
    background-color: #1c1f24;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .curiosidade-item {
    display: flex;
    align-items: center;
    background-color: #2a2d33;
    color: #DEDEDE;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .curiosidade-item:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  }
  
  .curiosidade-icon {
    font-size: 24px;
    color: #A6DE8E;
    margin-right: 15px;
  }
  
  .curiosidade-item p {
    margin: 0;
    font-size: 14px;
    color: #B0B0B0;
  }

  .marcas-container {
    display: flex;
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: #1c1f24; /* Fundo escuro */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra */
  }
  
  .marca-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2a2d33; /* Fundo dos itens */
    color: #DEDEDE; /* Cor do texto */
    padding: 15px;
    width: 120px; /* Largura fixa para os itens */
    height: 120px; /* Altura fixa para os itens */
    border-radius: 8px; /* Bordas arredondadas */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transição suave */
  }
  
  .marca-item:hover {
    transform: scale(1.05); /* Aumenta levemente ao passar o mouse */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); /* Sombra ao passar o mouse */
  }
  
  .marca-icon {
    font-size: 24px; /* Tamanho do ícone */
    color: #A6DE8E; /* Cor do ícone */
    margin-bottom: 10px; /* Espaço entre o ícone e o texto */
  }
  
  .marca-item p {
    margin: 0;
    font-size: 14px;
    color: #B0B0B0; /* Cor do texto secundário */
    text-align: center;
  }

  #container-chocolate {
    padding: 50px;
  }

  div#container1-chocolate {
    background-image: url('../assets/chocolate-cobertura.png') !important;
    background-color:#212529;
    background-size: 41%;
    background-repeat: repeat-x;
    background-position: top center;
  }

  #titulo-chocolate {
    color: #DEDEDE; /* Cor do texto */
    font-weight: 500;
    margin-top: 180px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; /* Contorno preto */
  }
  
 

  /* para removar a margin e outras aplicações em dispositivos menores*/
  @media (max-width: 767px) {
  
    body {
      background-color: #212529;
    }

    .rodape {
      background-color: #14171A;
    }

    #titulo-chocolate {
      margin-top: 0 !important;
    }

    #container-chocolate {
      padding: 0 !important;
    }

    div#container1-chocolate {
      background-size: 70%; /* Aumenta o tamanho em telas menores */
      padding-top: 50px; /* Reduz o espaço em dispositivos menores */
      margin-top: 0 ;
    }

    #img-academia2 {
      margin-top: 50px ;
    }

    #container-principal {
      padding: 0 !important;
    }

    #container-secundario{
      padding: 0 !important;
    }

    #container-terciario{
      padding: 0 !important;
    }

    #titulo-principal {
      font-size: 45px;
    }

    #titulo-contato {
      margin-top: 0 !important;
      font-size: 30px;
      margin-right: 8px;
      margin-bottom: 30px;
    }

    #container-contato {
      padding: 0 !important;
      margin: none;
      width: none;
    }

    #container1-contato {
      padding: 0 !important;
    }

    .remove-padding-bottom {
      padding-bottom: 0 !important;
    }

    .remove-padding-top {
      padding-top: 0 !important ;
    }

    .barra-divisao {
      display: flex;
      margin: 0;
    }

    .titulo-conteudo {
      font-size: 37px;
    }

    .container-text {
      margin: 0;
    }

    .container-card {
      margin: 0;
    }

    .custom-carousel {
      width: 100%;
    }

    .carousel-image {
      height: 100%;
      object-fit: cover;
  }

  .offcanvas-title {
    margin-left: none;
  }

  .responsive-hr {
    display: block;
    border: 0;
    height: 2px;
    background-color: #DEDEDE;
    margin: 20px 0;
  }

}

  @media (max-width: 480px) {
  .custom-carousel {
    width: 100%;
  }

  .carousel-image {
    height: 400px;
    object-fit: cover;
  }
}

/* sumir o nome do site em certo tamanho de dispositivo por causa do espaço */
@media (max-width: 587px)  {
  
  #quiz-container {
    width: 100%;
  }

  .titulo-navbar {
    display: none;
  }
}