
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

  * {
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    height: 100vh;
    background-color:#14171A;
    color: aliceblue;

  }

  footer {
    position: relative; /* Ajuste para fixar no final da página */
    bottom: 0;
    width: 100%;
    font-size: 14px;
    background-color: #0E1012; /* Cor de fundo */
    color: #DEDEDE; /* Cor do texto */
  }
  

  .logo-navbar {
    width: 25px;
    height: 100%;
    margin-right: 81px;
  }

  .titulo-navbar {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
  }

  .romantic-text {
    font-style: italic;
    padding-left: 30px;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  /* Alerta na tela */
  #liveAlertPlaceholder {
    position: fixed;;
    left: 0;
    width: 100%;
    z-index: 1050;
    padding: 0 15px;
    transition: top 0.3s ease;
  }

  #liveAlertBtn:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }

  #backToTop {
    background-color: #A6DE8E;
    color: black;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
  }
  
  #backToTop:hover {
    background-color: #8BCF6E;
    cursor: pointer;
  }

  #backToTop img {
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
    margin-top: -5px ;
  }


  /* efeito do navbar escondendo*/
  #navbar {
    transition: top 0.3s;
  }

  .container-text {
    margin-left: 40px;
    max-width: 276px;
  }

  .container-card {
    margin-top: 40px;
    max-width: 20rem;
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  /* animação do card crescendo quando passa o mouse em cima e acrescentando um pouco de sombra ao redor */
  .container-card:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  }

  .animation-mouse {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .animation-mouse:hover,
  .animation-mouse.active {
    transform: scale(1.07);
  }

  .fade-in {
    opacity: 0;
    transform: translateY(20px); /* Move o texto para baixo inicialmente */
    transition: opacity 2s ease-out, transform 2s ease-out; /* Animação suave */
  }

  .fade-in.show {
    opacity: 1;
    transform: translateY(0); /* retorna o texto à posição original */
  }

  /* Desativar o efeito de hover no card quando o modal estiver aberto */
  body.modal-open .container-card:hover {
    transform: none;
    box-shadow: none;
    transition: none;
  }

  .section-divider {
    border: 0;
    height: 2px;
    background-color: #DEDEDE; 
    margin: 55px 0px;
  }

  /* Ajustar o tamanho do carrossel */
  .custom-carousel {
    width: 90%;
    max-width: 400px;
    margin: 27px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #A6DE8E;
    border-radius: 10px;
  }

  .custom-carousel:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px #A6DE8E, 0 0 10px #A6DE8E, 0 0 10px #A6DE8E;
  }

  .carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .neon-border {
    border: 2px solid #A6DE8E;
    box-shadow: 0 0 8px #A6DE8E, 0 0 8px #A6DE8E, 0 0 8px #A6DE8E;
    border-radius: 10px;
  }
  
  .neon-border:hover {
    box-shadow: 0 0 10px #A6DE8E, 0 0 10px #A6DE8E, 0 0 10px #A6DE8E;
  }

  .responsive-hr {
    display: none;
  }

  #quiz-container {
    margin: 0 auto;
    width: 50%;
    background-color: #434C54;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3ease;
  }

  .rodape {
    background-color: #212529;
  }

  #submitQuiz {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
  }

    /* Estilo para os cards do quiz */
  .quiz-card {
    background-color: #434C54;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    color: #DEDEDE;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .quiz-card h5 {
    color: #A6DE8E;
  }

  .quiz-card:hover {
    transform: scale(1.02);
    transition: 0.3s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  }

  .barra-divisao {
    display: none;
  }

  input:focus, textarea:focus {
    outline: none;
    border-color: #A6DE8E;
    box-shadow: 0 0 10px #A6DE8E;
    transition: 0.3s ease;
  }

  #messageFeedback {
    font-size: 14px;
    margin-top: 5px;
  }

  a:hover i {
    color: #A6DE8E; /* Cor ao passar o mouse */
    transition: color 0.3s ease;
  }
 

  /* para removar a margin e outras aplicações em dispositivos menores*/
  @media (max-width: 767px) {
  
    body {
      background-color: #212529;
    }

    .rodape {
      background-color: #14171A;
    }


    #container-principal {
      padding: 0 !important;
    }

    #container-secundario{
      padding: 0 !important;
    }

    #container-terciario{
      padding: 0 !important;
    }

    #titulo-principal {
      font-size: 45px;
    }

    #titulo-contato {
      margin-top: 0 !important;
      font-size: 30px;
      margin-right: 8px;
      margin-bottom: 30px;
    }

    #container-contato {
      padding: 0 !important;
      margin: none;
      width: none;
    }

    #container1-contato {
      padding: 0 !important;
    }

    .remove-padding-bottom {
      padding-bottom: 0 !important;
    }

    .remove-padding-top {
      padding-top: 0 !important ;
    }

    .barra-divisao {
      display: flex;
      margin: 0;
    }

    .titulo-conteudo {
      font-size: 37px;
    }

    .container-text {
      margin: 0;
    }

    .container-card {
      margin: 0;
    }

    .custom-carousel {
      width: 100%;
    }

    .carousel-image {
      height: 100%;
      object-fit: cover;
  }

  .offcanvas-title {
    margin-left: none;
  }

  .responsive-hr {
    display: block;
    border: 0;
    height: 2px;
    background-color: #DEDEDE;
    margin: 20px 0;
  }

}

  @media (max-width: 480px) {
  .custom-carousel {
    width: 100%;
  }

  .carousel-image {
    height: 400px;
    object-fit: cover;
  }
}

/* sumir o nome do site em certo tamanho de dispositivo por causa do espaço */
@media (max-width: 587px)  {
  
  #quiz-container {
    width: 100%;
  }

  .titulo-navbar {
    display: none;
  }
}